/*####################################################################*/

.navscroll {
	height: 0;
}

/*####################################################################*/

.nav {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100vw;
	transition: 1s;
}

.nav-up {
	background-color: rgba(255,255,255,0);
	color: white;
	text-shadow: 1px 1px 1px grey, -1px 1px 1px grey, 1px -1px 1px grey, -1px -1px 1px grey;
}

.nav-up .nav-drop {
	background-color: rgba(255,255,255,0.2);
	color: white;
	text-shadow: 1px 1px 1px grey, -1px 1px 1px grey, 1px -1px 1px grey, -1px -1px 1px grey;
}

.nav-down {
	background-color: rgba(255,255,255,0.8);
	color: black;
}

.nav-down .nav-drop {
	background-color: rgba(255,255,255,0.8);
	color: black;
}

/*####################################################################*/

.nav-flex {
	display: flex;
	width: 95vw;
}

.nav-flex a {
	color: inherit;
}

.nav-flex a:hover {
	color: inherit;
}

/*####################################################################*/

.nav-logo {
	display: inline-block;
	flex-grow: 0.1;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-weight: 700;
	position: relative;
}

.nav-logo h1 {
	margin: 0;
	padding: 1rem;
}

.nav-logo h1 a {
	padding-left: 4rem;
}

.nav-logo h1 img {
	position: absolute;
	width: 3rem;
	opacity: 0;
}

/*####################################################################*/

.nav-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	flex-grow: 0.9;
	text-align: right;
	font-weight: 500;
	padding-top: 1rem;
}

.nav-item {
	position: relative;
	display: inline-block;
	height: 4rem;
	overflow: hidden;
	flex-grow: 0;
}

.nav-item:hover {
	height: auto;
	overflow: visible;
}

.nav-item h4 {
	margin: 0;
	padding: 1rem;
}

.nav-drop {
	z-index: 10;
	position: absolute;
}

.nav-drop h5 {
	margin: 0;
	padding: 1rem;
}

/*####################################################################*/
