/*####################################################################*/

#preloader-display {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: block;
	padding-top: 33vh;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: white;
}

.preloader-logo {
	display: inline-block;
	width: 1px;
	position: relative;
}

/*####################################################################*/

.logo-letter {
	position: absolute;
	width: 5vw;
	transition: 1s;
	left: 47vw;
}

.logo-letter-0 {
	left:   0vw;
	opacity: 0;
}

.logo-letter-1 { left: -15vw; }
.logo-letter-2 { left: -10vw; }
.logo-letter-3 { left:  -5vw; }
.logo-letter-4 { left:   0vw; }
.logo-letter-5 { left:   5vw; }
.logo-letter-6 { left:  10vw; }
.logo-letter-7 { left:  15vw; }

/*####################################################################*/
