/*####################################################################*/

.spacer {
	background-color: #fff;
	transform: rotate(-1.5deg);
	position: relative;
	top: -3rem;
	height: 8rem;
	content: "&bnsp;";
}

/*####################################################################*/
